---
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="mb-12 text-center md:mb-16">
  <h2 class="mt-4 text-3xl font-bold text-text-light md:text-4xl">{title}</h2>
  {subtitle && <p class="mx-auto mt-4 max-w-xl text-gray">{subtitle}</p>}
</div>
