---
import { markdownify } from "@/lib/utils/textConverter";

interface Props {
  page_header: any;
}

const { page_header } = Astro.props;
const { title, subtitle } = page_header || {};
---

{
  title && (
    <section class="border-b border-border px-4 pb-16 pt-10 text-center md:pt-14">
      <div class="container mx-auto max-w-3xl">
        <h1
          class="mt-4 text-3xl font-extrabold text-text-light md:text-4xl lg:text-5xl"
          set:html={markdownify(title).__html}
        />
        {subtitle && <p class="mx-auto mt-4 max-w-xl text-gray">{subtitle}</p>}
      </div>
    </section>
  )
}
